{% extends 'base.html' %}
{% load static %}

{% block nav-resumen %}class="active"{% endblock %}

{% block main %}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div id="showsimple"></div>
            <div class="ibox-content">
                <div class="jumbotron">
                  <h3 class="display-4">CobroX </h3>
                  <p class="lead">Solución tecnológica para gestión de créditos, con altos estándares en seguridad de la información </p>
                  <hr class="my-4">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}