{% extends "base.html" %}
{% block title %}
No puede ser mostrada
{% endblock %}

{% block main %}
<div class="middle-box text-center animated fadeInDown">
        <h1>403</h1>
        <h3 class="font-bold">Zona Protegida</h3>
        <div class="error-desc">
            Esta tratando de ingresar a una zona en la cual no tiene autorización, agradecemos evitar dicho comportamiento.<br/>
            Puedes regresar a la página de inicio a través del siguiente enlace: <br/><a href="/index.html" class="btn btn-primary m-t">Dashboard</a>
        </div>
    </div>
{% endblock %}
