{% extends "base_nada.html" %}
{% block title %}
Not Found
{% endblock %}

{% block main %}
<div class="middle-box text-center animated fadeInDown">
        <h1>404</h1>
        <h3 class="font-bold">Página No Encontrada</h3>
        <div class="error-desc">
            Lo lamentamos, pero la página que estás buscando no ha sido encontrada. Verifica si existe algún error en la URL, luego haz click en el botón de refrescamiento o trata algo diferente en nuestra app.
            <br/><a href="/index.html" class="btn btn-primary m-t">Dashboard</a>
        </div>
    </div>
{% endblock %}
